<div>
  <img class="img-full img-capa" src="../../../../assets/images/jndcd-capa.jpg" alt="Japão Nosso de Cada Dia">
</div>

<div class="container">

  <h1 class="texto-vinho">Japão Nosso de Cada Dia</h1>

  <hr><br>

  <div class="jndcd-perfil-centro">
    <a href="https://www.youtube.com/c/japaonossodecadadia" target="_blank">
      <img class="jndcd-perfil" src="../../../../assets/images/jndcd-perfil.jpg" alt="Japão Nosso de Cada Dia">
    </a>
  </div>

  <br>

  <p><b><a href="https://www.youtube.com/c/japaonossodecadadia" target="_blank">Japão Nosso de Cada Dia</a></b> is a channel that presents in a fun way curiosities, differences and information about Japan, being presented by two Brazilians who live there.</p>
  <h2 class="texto-vinho">Check out some videos from this channel:</h2>
  <br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/B6do7xeQvlk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/n88w637HWso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/W7Kt4hF2ekQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/TK6aNPVBbww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/PIASKb71eXU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/m64qF2z91Wg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/2ctldCIS67c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/cSPR86ZmYfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><br><br>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/_z8X4F-eMA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>

<app-footer></app-footer>
