<div>
  <img class="img-full-page" src="../../../../assets/images/mulher-mapa.jpg" alt="Mulher olhando mapa">
</div>

<div class="container">

  <!--
    Island country lying off the east coast of Asia, Japan consists of a great string of islands in a northeast-southwest arc that stretches for approximately 1,500 miles through the western North Pacific Ocean.

    Nearly the entire land area is taken up by the country’s four main islands. From north to south these are:

    Hokkaido
    Honshu
    Shikoku
    Kyushu

    Honshu is the largest of the four, followed in size by Hokkaido, Kyushu, and Shikoku. In addition, there are numerous smaller islands, the major groups of which are the Ryukyu (Nansei) Islands (including the island of Okinawa) to the south and west of Kyushu and the Izu, Bonin (Ogasawara), and Volcano (Kazan) islands to the south and east of central Honshu. The national capital, Tokyo, in east-central Honshu, is one of the world’s most populous cities.

    https://www.britannica.com/place/Japan
    -->

</div>

<app-footer></app-footer>
