<header>
    <table>
      <tr>

        <td>
          <div id="logo">
            <a class="logo" [routerLink]="['/home']">Japanese Culture</a>
          </div>
        </td>

        <td>
          <nav>
            <b><a class="link" [routerLink]="['/home']">Home</a></b> &nbsp;
            <b><a class="link" href="#">Games</a></b> &nbsp;
            <b><a class="link" href="#">Apps</a></b> &nbsp;
            <b><a class="link" href="#">Eletrônicos</a></b> &nbsp;
            <b><a class="link" href="#">Apps</a></b> &nbsp;
            <b><a class="link" href="#">Apps</a></b> &nbsp;
            <b><a class="link" href="#">Eletrônicos</a></b> &nbsp;
            <b><a class="link" href="#">Apps</a></b> &nbsp;
            <b><a class="link" href="#">Eletrônicos</a></b>
          </nav>
        </td>

      </tr>
    </table>
</header>
