<header>
    <table>
      <tr>

        <td>
          <div id="logo">
            <a class="logo" [routerLink]="['/home']">Japanese Culture</a>
          </div>
        </td>

        <td>
          <nav>
            <b><a class="link" [routerLink]="['/home']">Home</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">History</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Localization</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">People</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Religion</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Food</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Samurai</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Geisha</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Manga & anime</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">Origami</a></b> &nbsp;
            <b><a class="link" [routerLink]="['/']">JNDC</a></b>
          </nav>
        </td>

      </tr>
    </table>
</header>
