header {
  background: rgba(255, 255, 255, 0.288);
  height: 7%;
  width: 98%;
  box-shadow: 0 6px 0 white;
  position: fixed;
  top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

#centro-header {
  width: 70%;
  margin: 0 auto;
}

#logo {
  float: left;
  padding: 0 0;
}

.logo {
  font-size: 35px;
  color: #771E2B;
  transition: all 0.3s ease;
}
.logo:hover {
  color: #bd5d6b;
}

nav {
  float: right;
  padding: 14px 0;
}

.link {
  font-size: 16px;
  margin: 3px;
  padding: 3px 7px;
  transition: all 0.3s ease;
}
.link:hover {
  color: rgb(139, 139, 139);
}
