/* Fontes: */

a {
  text-decoration: none;
}

#logo {
  float: left;
}

.logo {
  font-size: 200%;
  color: #771E2B;
  transition: all 0.3s ease;
}
.logo:hover {
  color: #bd5d6b;
}

nav {
  float: right;
}

.link {
  font-size: 100%;
  transition: all 0.3s ease;
}
.link:hover {
  color: rgb(139, 139, 139);
}



/* Formato do cabeçalho: */

table {
  text-align: center;
  vertical-align: middle;

  width: 100%;
  margin: 0 auto;
  position: fixed;

  background: rgba(255, 255, 255, 0.603);
  box-shadow: 0 3px 0 #771E2B;
}

td {
  padding: 0 5%;
}


