<header>
    <table>
      <tr>

        <td>
          <div id="logo">
            <a class="logo" [routerLink]="['/home']">Japanese Culture</a>
          </div>
        </td>

        <td>
          <nav>
            <a class="link" [routerLink]="['/home']">Home</a> &nbsp;
            <a class="link" [routerLink]="['/history']">History</a> &nbsp;
            <a class="link" [routerLink]="['/localization']">Localization</a> &nbsp;
            <a class="link" [routerLink]="['/people']">People</a> &nbsp;
            <a class="link" [routerLink]="['/']">Religion</a> &nbsp;
            <a class="link" [routerLink]="['/']">Food</a> &nbsp;
            <a class="link" [routerLink]="['/']">Videos</a>
          </nav>
        </td>

      </tr>
    </table>
</header>
