<app-top-bar></app-top-bar>

<app-home></app-home>

<div class="container">

  <router-outlet></router-outlet>

  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>

</div>
