#centro {
  text-align: center;
  margin-top: 150px;
}

.numero-404 {
  font-size: 500%;
}

.titulo-404 {
  font-size: 350%;
  margin-bottom: 2%;
}

.cor {
  animation-duration: 1.2s;
  animation-name: mudar-cor;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes mudar-cor {
  from {
    color: #771E2B;
  }
  to {
    color: #cc344b;
  }
}

a {
  color: #771E2B;
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: underline;
  transition: all 0.2s ease;
}

a:hover {
  background-color: #771E2B;
  color: white;
}
