<div>
  <img class="img-full-page" src="../../../../assets/images/background-monte-templo-1.jpg" alt="Backgrund">
</div>

<div class="container">

  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>
  <h1>AAA aaa</h1>
  <h2>BBB bbb</h2>
  <p>Leonardo Yukio AOKI</p>

</div>

<div>
  <img class="img-full-page" src="../../../../assets/images/background-rua-noite-lanterna.jpg" alt="Backgrund">
</div>
