<div>
  <img class="img-full" src="../../../../assets/images/monte-templo-1.jpg" alt="Monte e templo">
</div>

<div class="container">

  <h2>Millenary traditions and enormous technological advances.</h2>
  <br>
  <p>Japan has a extraordinary and multifaceted culture. On the one hand it is steeped in the deepest of traditions, on the other it is a society in a continual state of rapid flux, with continually shifting fads and fashions and technological development that constantly exceeds the limits of the possible and common.</p>

  <br><br>

  <div>
    <img class="img-full" src="../../../../assets/images/arvore-lanterna.jpg" alt="Árvores com lanterna">
  </div>

  <br><br>

  <h1 class="texto-vinho">What is…?</h1>

  <br><hr><br>

  <h2>Samurai</h2>
  <h3>"The way of the warrior"</h3>
  <p>Although samurai no longer exist, the influence of these great warriors still manifests itself deeply in Japanese culture and samurai heritage can be seen all over Japan - be it a great castle, a carefully planned garden, or beautifully preserved samurai residences. It is also deeply ingrained in the psyche of the Japanese people.</p>
  <p>The basis of samurai conduct is bushido, "the way of the warrior". This unique philosophy valued honour, reckless bravery and selflessness, as well as duty to the warrior's master with the purpose of giving up one's life and embracing death. There was no place for fear in the way of the warrior and this conduct of self discipline and respectful, ethical behaviour was to become the role model behaviour for other classes throughout Japan's history.</p>

  <br><hr><br>

  <!-- Geisha -->

  <br><hr><br>

  <!-- Manga/Anime -->

  <br><hr><br>

  <!-- Origami -->

</div>

<div>
  <img class="img-full" src="../../../../assets/images/rua-noite-lanterna.jpg" alt="Rua de noite com lanterna">
</div>

<app-footer></app-footer>
