<div>
  <img class="img-full" src="../../../../assets/images/monte-templo-1.jpg" alt="Monte e templo">
</div>

<div class="container">

  <hr>
  <h2>Millenary traditions and enormous technological advances.</h2>
  <p>Japan has a extraordinary and multifaceted culture. On the one hand it is steeped in the deepest of traditions, on the other it is a society in a continual state of rapid flux, with continually shifting fads and fashions and technological development that constantly exceeds the limits of the possible and common.</p>
  <hr>

  <br><br>

  <img class="img-full" src="../../../../assets/images/arvore-lanterna.jpg" alt="Árvores com lanterna">

  <br><br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Population</h1>
    <img class="img-full" src="../../../../assets/images/pessoas-4.jpg" alt="Pessoas">
    <p>Japan is home to about 126,672,000 people. Today, the country suffers from a very low birth rate, making it one of the most rapidly aging societies in the world.</p>
    <p>The Yamato Japanese ethnic group comprises 98.5 percent of the population. The other 1.5 percent includes Koreans (0.5 percent), Chinese (0.4 percent), and the indigenous Ainu (50,000 people). The Ryukyuan people of Okinawa and neighboring islands may or may not be ethnically Yamato.</p>

  </div>

  <br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Languages</h1>
    <img class="img-full" src="../../../../assets/images/escrita-1.jpg" alt="Pessoa escrevendo Kanji">
    <p>The vast majority of Japan's citizens (99 percent) speak Japanese as their primary language.</p>
    <p>Japanese is in the Japonic language family, and seems to be unrelated to Chinese and Korean. However, Japanese has borrowed heavily from Chinese, English, and other languages. In fact, 49 percent of Japanese words are loanwords from Chinese, and 9 percent come from English.</p>
    <p>Three writing systems coexist in Japan: hiragana, which is used for native Japanese words, inflected verbs, etc.; katakana, which is used for non-Japanese loanwords, emphasis, and onomatopoeia; and kanji, which is used to express the large number of Chinese loanwords in the Japanese language.</p>

  </div>

  <br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Clothes</h1>
    <img class="img-full" src="../../../../assets/images/kimono-1.jpg" alt="Pessoas com kimono">
    <p>The traditional dress of Japan is the kimono. Kimonos, which are generally made of silk, have large sleeves and reach from the shoulders all the way down to the heels. They are tied with a wide belt called an obi. Kimonos are now usually worn only on special occasions, such as the Shichi-Go-San festival, weddings, and graduation ceremonies.</p>
    <p>Compared to Western dress, the kimono tends to limit one's movement, and it takes more time to put on properly. In the summer, however, a more easily worn, lightweight informal kimono known as a yukata is worn by children and young adults at festivals, fireworks displays, and other special occasions. In everyday life, though, young people tend to prefer clothing that is easier to move around in, like T-shirts, jeans, polo shirts, and sweat suits.</p>

  </div>

  <br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Houses</h1>
    <img class="img-full" src="../../../../assets/images/casa-1.jpg" alt="Casa japonesa">
    <p>Traditional Japanese homes are made of wood and supported by wooden pillars, but today's homes usually have Western-style rooms with wooden flooring and are often constructed with steel pillars. More and more families live in urban areas, moreover, live in large, ferroconcrete apartment buildings.</p>
    <p>Two big differences from Western homes are that shoes are not worn inside the house and that at least one room tends to be designed in the Japanese style with a tatami floor. Shoes are taken off when entering a house to keep the floor clean. The genkan, or entrance, serves as a place for removing, storing, and putting on shoes. People tend to put on slippers for indoor use as soon as they have taken off their shoes.</p>

  </div>

  <br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Religion</h1>
    <img class="img-full legenda-img" src="../../../../assets/images/torii-1.jpg" alt="Torii">
    <p class="legenda-texto">Torii is a traditional Japanese gate most commonly found at the entrance of or within a Shinto shrine</p>
    <img class="img-full legenda-img" src="../../../../assets/images/buddha-1.jpg" alt="Buda">
    <p class="legenda-texto">Buddha statue</p>
    <p>Shinto and Buddhism are Japan's two major religions. Shinto is as old as the Japanese culture, while Buddhism was imported from the mainland in the 6th century. Since then, the two religions have been co-existing relatively harmoniously and have even complemented each other to a certain degree. Most Japanese consider themselves Buddhist, Shintoist or both.</p>
    <p>Religion does not play a big role in the everyday life of most Japanese people today. The average person typically follows the religious rituals at ceremonies like birth, weddings and funerals, may visit a shrine or temple on New Year and participates at local festivals (matsuri), most of which have a religious background.</p>

  </div>

  <br><br>

  <div class="bloco-home">

    <h1 class="texto-vinho">Government</h1>
    <img class="img-full legenda-img" src="../../../../assets/images/palacio-imperial.jpg" alt="Palácio Imperial de Tóquio">
    <p class="legenda-texto">Tokyo Imperial Palace</p>
    <p>Japan has a constitutional monarchy, headed by an emperor. The current emperor is Akihito; he wields very little political power, serving primarily as the symbolic and diplomatic leader of the country.</p>
    <p>The political leader of Japan is the Prime Minister, who heads the Cabinet. Japan's bicameral legislature is made up of a 465-seat House of Representatives and a 242-seat House of Councillors.</p>
    <p>Japan has a four-tier court system, headed by the 15-member Supreme Court. The country has a European-style civil law system.</p>

  </div>

</div>

<app-footer></app-footer>
