.bloco-home {
  border-width: 1px;
  border-style: solid;
  border-color: #771E2B;

  padding: 1% 4%;
  border-radius: 45px 2px;
}

.legenda-img {
  margin-bottom: 0;
}

.legenda-texto {
  margin-top: 0;
  text-align: center;
  color: #bd5d6b;
}
