<div>
  <img class="img-full img-capa" src="../../../../assets/images/comida-japonesa-1.jpg" alt="Comida japonesa">
</div>

<div class="container">

  <h1 class="texto-vinho">Food</h1>

  <hr><br>

  <p>Japanese cuisine offers an abundance of gastronomical delights with a boundless variety of regional and seasonal dishes. Restaurants in Japan range from mobile food stands to centuries old ryotei, atmospheric drinking places, seasonally erected terraces over rivers, cheap chain shops and unique theme restaurants about ninja and robots. Many restaurants are specialized in a single type of dish, while others offer a variety of dishes.</p>
  <p>Japanese cuisine has a large variety of dishes and regional specialties. Check out some of the main Japanese dishes!</p>

  <br>

  <h2 class="titulo-texto">Tonkatsu</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/tonkatsu.jpg" alt="Tonkatsu">
  <br><br>
  <h2 class="titulo-texto">Tempura</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/tempura.jpg" alt="Tempura">
  <br><br>
  <h2 class="titulo-texto">Udon</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/udon.jpg" alt="Udon">
  <br><br>
  <h2 class="titulo-texto">Sushi</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/sushi.jpg" alt="Sushi">
  <br><br>
  <h2 class="titulo-texto">Ramen</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/ramen.jpg" alt="Ramen">
  <br><br>
  <h2 class="titulo-texto">Tofu</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/tofu.jpg" alt="Tofu">
  <br><br>
  <h2 class="titulo-texto">Okonomiyaki</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/okonomiyaki.jpg" alt="Okonomiyaki">
  <br><br>
  <h2 class="titulo-texto">Taiyaki</h2>
  <img class="img-full titulo-img" src="../../../../assets/images/taiyaki.jpg" alt="Taiyaki">

  <br><br><br>

  <h1 class="texto-vinho">Drink</h1>

  <hr><br>

  <p>Japan is a country of drinkers - and a few rituals should be considered before taking a tipple. Never pour a drink for yourself, your friend or host should do this for you and you in turn should keep your companions' glasses filled to the brim! A word you'll hear quite often is kanpai - "cheers" in Japanese.</p>

  <img class="img-full" src="../../../../assets/images/bebida-1.jpg" alt="Bebida">

  <p>Unlike in the West, the culture of going out for just a drink does not really exist in Japan. Drinking is almost always accompanied by a meal or otsumami (a light snack). Otsumami usually comes in the form of a plate of edamame (soy beans), surume (dried shredded squid) or arare (small rice crackers whose name literally translates as hailstones!).</p>

  <p>For tea connoisseurs, Japan is tea heaven. The Japanese word for tea is cha and there are countless varieties ranging from classic green teas through to the more unusual mugicha (barley tea), sobacha (buckwheat tea), genmaicha (brown rice tea), umecha (powdered plum tea) and many more.</p>

  <img class="img-full legenda-img" src="../../../../assets/images/cha-1.jpg" alt="Chá">
  <p class="texto-vinho-claro legenda-texto">Sado (Japanese green tea ceremony) is an ancient tradition with roots traced back to Zen Buddhism. Literally translated as "the way of the tea", the ceremony involves the preparation and drinking of tea.</p>

</div>

<app-footer></app-footer>
